/* Importar el tipo de letra DM SANS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/*----------------------------CSS Reset------------------------- */

/* Reset general para elementos HTML */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*__________________________________________________________________________________________________________________________________________*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.header {
    background-color: #a3d7ec;
    width: 100vw;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 60px;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 10rem;
    white-space: nowrap;
}

.logo img {
    width: 3.2rem;
    height: 3.2rem;
}

.logo h1 {
    font-weight: 800;
    font-size: 36px;
    margin-left: 20px;
    color: #f1f1f1;
    -webkit-text-stroke: 1.5px #000000;
}

.options {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.options ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: .3rem;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.option {
    margin: 0;
    padding: 0;
    width: auto;
}

.option i {
    margin: 0;
    padding: 0;
}

.logo_home{
    text-decoration: none;
}

.option__notifications,
.option__home {
    height: 40px;
    align-items: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.option__home {
    width: 40px;
    border-radius: 50%;
    text-decoration: none;
}

.option__notifications {
    width: 40px;
    border-radius: 50%;
    border: none;
    background: none;
    text-decoration: none;
}

.option__user {
    display: flex;
    align-items: center;
    border-radius: 20%;
    width: auto;
    padding-left: 10px;
}

.option__user span {
    width: auto;
    white-space: nowrap;
}

.option__user .profile {
    display: flex;
    align-items: center;
}

.option__user .profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.option__notifications:hover,
.option__home:hover {
    background-color: #ffffffda;
    color: #000000;
    box-shadow: 0px 4px 6px #0000001a;
}


/* Contenedor Principal */
.container {
    float: left;
    display: flex;
    height: calc(100vh - 75px);  /* Altura total menos la altura de la navbar */
    width: 99.9vw;
    box-sizing: border-box;
    overflow: hidden; 
}

/* Estilos para la sidebar */
.sidebar {
    width: 50px;   /* Ancho inicial colapsado */
    height: 100%;
    background-color: #272a2d;
    overflow: hidden;
    z-index: 2000;
    position: relative;
    top: 0;
    bottom: 0;
    -webkit-transition: width .06s linear;
    transition: width .06s linear;
}

.sidebar:hover {
    width: 200px;
    overflow: visible; /* Ancho expandido */
}

.sidebar__menu {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.sidebar__menu--item {
    display: block;
    padding: 0;
    width: 200px;
    overflow: hidden; /* Ocultar texto que no cabe en el ancho */
}

.sidebar__menu--item a {
    text-decoration: none;
    color: #ffffff90;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    white-space: nowrap; /* Prevenir que el texto haga wrap (salto de linea) */
    align-items: center;
    padding: 10px 0;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.sidebar__menu--item a:hover {
    text-decoration: none;
    background-color: #333538;
    color: #fff;
}

.fa {
    margin-right: 8px;
    padding: 0;
    width: 50px;
    height: auto;
    text-align: center;
    font-size: 1.2rem;
}

.logout form {
    margin: 0;
}

.logout button {
    background: none;
    border: none;
    color: #ffffff90;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.logout button:hover {
    background-color: #333538;
    color: #fff;
}

.logout span {
    font-size: 14px;
}


.sidebar .sidebar__menu--item span {
    display: none;  /* Ocultar texto por defecto */
}

.sidebar:hover .sidebar__menu--item span {
    display: inline-block; /* Mostrar texto al expandir */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}