* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height:auto;
    overflow: auto;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: rgb(163, 215, 236);
    width: 100%;
    height: 90px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    img {
        width: 9rem;
        height: auto;
    }

    h1 {
        font-weight: 800;
        font-size: 40px;
        color: rgb(237, 237, 237);
        -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    }
}

.navbar__button--logout {
    background-color: #e0e0e0;
    border: solid 1px #000;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    padding: 10px 15px;
    margin: 5px 0;
    text-align: left;

    &:hover {
        background-color: #0a2f7d;
        color: #f5f5f5;
    }
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 90px);
}

.sidebar {
    background-color: #f5f5f5;
 /*   width: 70px; */
    width: 200px;
    height: calc(100vh - 90px);
    padding: 15px 10px;
    position: relative;
    left: 0;
    transition: width 0.3s;
}

.sidebar.expand {
    width: 200px;
}

.sidebar__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;

    img {
        border-radius: 100%;
        height: 3rem;
        width: auto;
        object-fit: cover;
    }

    strong {
        align-items: center;
        margin-left: 10px;
        padding: 0;
        font-size: 18px;
        color: #000;
    }
}

.sidebar__links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.sidebar__links--item{
    width: 100%;
    align-items: center;
    gap: .5rem;
}

.sidebar__links--item a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.4s ease 0s;

    i {
        min-width: 1rem;
        text-align: center;
    }

    p {
        margin: 0 0 0 5px;
        padding: 0;
    }

    &:hover {
        background-color: #4facaf;
        font-weight: 700;
    }
}

.content {
    padding: 20px;
    display: flex;
    height: calc(100vh - 90px);
    width: calc(100% - 400px);
    flex-direction: column;
}

.sidebar.expand ~ .content {
    width: calc(100% - 70px);
}

.toggle-button {
    position: absolute;
    top: 10px;
    right: -20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}