{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static './css/form.css' %}">
{% endblock %}

{% block content %}
<div class="content">

    <div class="form__image">
        <img src="{% static './img/registrar_usuario.png' %}" alt="Descripción de la imagen">
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__container">
            <div class="form__field">
                <label for="{{ formUser.dni.id_for_label }}" class="required">{{ formUser.dni.label }}</label>
                {{ formUser.dni }}
            </div>
            <div class="form__field">
                <label for="{{ formUser.first_name.id_for_label }}" class="required">{{ formUser.first_name.label }}</label>
                {{ formUser.first_name }}
            </div>
            <div class="form__field">
                <label for="{{ formUser.last_name.id_for_label }}" class="required">{{ formUser.last_name.label }}</label>
                {{ formUser.last_name }}
            </div>
            <div class="form__field">
                {{ formUser.profile_picture.label_tag }}
                {{ formUser.profile_picture }}
            </div>
            <div class="form__field">
                <label for="{{ formUser.date_born.id_for_label }}" class="required">{{ formUser.date_born.label }}</label>
                {{ formUser.date_born }}
            </div>
            <div class="form__field">
                <label for="{{ formUser.rol.id_for_label }}" class="required">{{ formUser.rol.label }}</label>
                {{ formUser.rol }}
            </div>
            <div class="form__field">
                <label for="{{ formUser.email.id_for_label }}" class="required">{{ formUser.email.label }}</label>
                {{ formUser.email }}
            </div>
            <div class="form__field">
                <label for="{{ formUser.password.id_for_label }}" class="required">{{ formUser.password.label }}</label>
                {{ formUser.password }}
            </div>
        </div>
        {% if formUser.errors %}
        <div class="form__error">
            <span></span>
            <ul class="errorlist">
                {% if formUser.password.errors %}
                    {% for error in formUser.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                {% elif formUser.dni.errors %}
                <li>Digite un DNI de 10 dígitos.</li>
                {% else %}
                <li>Hubo un error. Intente de nuevo</li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        <footer class="form__footer">
            <input type="submit" value="Enviar" class="form__button" />
        </footer>
    </form>
</div>


{% endblock %}