{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Mi Tienda Online{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/png" href="{% static 'favicon.jpeg' %}">
    </head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'home' %}">CompreX</a>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#">Categorías</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Mi Cuenta</a></li>
                </ul>
            </nav>
            <div class="search">
                <input type="text" placeholder="Buscar...">
                <button>Buscar</button>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024  CompreX Mi Tienda Online. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
